<!--
{% extends "layouts/base.html" %}
-->

<!--
{% block title %} Settings {% endblock %}
-->

<!-- Specific Page CSS goes HERE
{% block stylesheets %}{% endblock stylesheets %}
-->
{% block content %}

    <div class="row">
        <div class="col-12 col-xl-9">
            <div class="row">
                <div class="col-12 mb-3">
                    <div class="card shadow border-0 text-center p-0">
                        <div class="profile-cover rounded-top" data-background="{{ config.ASSETS_ROOT }}/img/profile-cover.jpg"></div>
                        <div class="card-body pb-5">
                            <h4 class="h3">
                                My 2022 Sketch
                            </h4>
                            <h5 class="fw-normal">
                                project description here
                            </h5>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <!-- INSTAGRAM -->
        <div class="col-12 col-xl-3">
            <div class="card card-body border-0 shadow mb-4">
                <h2 class="h5 mb-4">Instagram</h2>
                <form>
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <div>
                                <label for="username_instagram">Username</label>
                                <!-- VARIABLE -->
                                <input class="form-control" id="username_instagram" type="text" placeholder="username" required>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <button class="btn btn-sm btn-secondary mt-2 animate-up-2" id="button_instagram" type="submit">Get Summary</button>
                    </div>
                </form>
            </div>
        </div>


        <!-- TWITTER -->
        <div class="col-12 col-xl-3">
            <div class="card card-body border-0 shadow mb-4">
                <h2 class="h5 mb-4">Twitter</h2>
                <form>
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <div>
                                <label for="username_twitter">Username</label>
                                <!-- VARIABLE -->
                                <input class="form-control" id="username_twitter" type="text" placeholder="username" required>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <button class="btn btn-sm btn-secondary mt-2 animate-up-2" id="button_twitter" type="submit">Get Summary</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- FACEBOOK -->
        <div class="col-12 col-xl-3">
            <div class="card card-body border-0 shadow mb-4">
                <h2 class="h5 mb-4">Facebook</h2>
                <form>
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <div>
                                <label for="username_facebook">Username</label>
                                <!-- VARIABLE -->
                                <input class="form-control" id="username_facebook" type="text" placeholder="username" required>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <!-- VARIABLE -->
                        <button class="btn btn-sm btn-secondary mt-2 animate-up-2" id="button_facebook" type="submit">Get Summary</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<div class="row">
    <!-- SUMMARY -->
    <div class="col-12 col-xl-9">
        <div class="card card-body border-0 shadow mb-4">
            <h2 class="h5 mb-4">Summary</h2>
            <form>
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div>
                            <!-- VARIABLE -->
                            <input class="form-control" id="summary" type="text" placeholder="output text" required>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE
{% block javascripts %}{% endblock javascripts %}
-->
